# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.eXtensionSharp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\workspace\eXtensionSharp\.idea\.idea.eXtensionSharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
