<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nameofSEOKWONHONG/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="nameofSEOKWONHONG" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>